#navbar-left ul li a {
    display: inline-block;
    font-size: 80px;
    text-transform: uppercase;
}

body {
    background-image:url('images/brick.jpg');
    background-repeat:no-repeat;
    back
}